<h1>{{title}}</h1>
<!--
<ul>
    <li *ngFor="let p of pokemons">{{p.name}}</li>
</ul>

<input type="text" #box (keyup)='onkey(box.value)'>
<p>{{box.value}}</p>
<p>{{value}}</p>


 <input type="text" #box (keyup.enter)="values=box.value" (blur)="values=box.value">
 <p>{{values}}</p>
 -->
<p *ngIf="beta > 876">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit porro ab minima quae, itaque, quia eius voluptatum labore eum, exercitationem obcaecati ducimus fuga corrupti? Soluta molestias cumque sit pariatur. Ullam!</p>
